<html>

<head>
    <title>Peek a Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/signin.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body ng-app="peekabook" ng-controller="myCntrl">
    <div class="jumbotron blue">
        <span class="header">Peek a Book</span>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="/dashboard/viewBooks" class="nav-link">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-user icon"></i>
                    </div>
                    <div class="card-footer">
                        View Books
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/dashboard/addBook" class="nav-link">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-user icon"></i>
                    </div>
                    <div class="card-footer">
                        Add book
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
                <a href="/dashboard/viewStudents" class="nav-link">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-user icon"></i>
                        </div>
                        <div class="card-footer">
                            View Students
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/dashboard/addStudent" class="nav-link">
                    <div class="card">
                        <div class="card-body">
                            <i class="fas fa-user icon"></i>
                        </div>
                        <div class="card-footer">
                            Add Student
                        </div>
                    </div>
                </a>
            </div>
        <div class="col-sm-4">
            <a href="/dashboard/buyBooks" class="nav-link">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-user icon"></i>
                    </div>
                    <div class="card-footer">
                        Buy Books
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="nav-link">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-user icon"></i>
                    </div>
                    <div class="card-footer">
                        Sell book
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>
<script src="/js/dashboard-ang.js"></script>
</html>